.main-introduction {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.blog-introduction-title {
    color: #6C2B3E;
}

.blog-introduction {
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
#blog-introduction-1{
    width: 30.375rem;
    height: 2.9375rem;
}
#blog-introduction-2{
    width: 31.0625rem;
    height: 5.375rem;
    margin-top: -2rem;
}
#blog-introduction-3{
    width: 19.375rem;
    height: 4.3125rem;
    margin-top: -2rem;
}
#blog-introduction-4{
    width: 14.3125rem;
    height: 4.3125rem;
    margin-top: -2rem;
}
#blog-introduction-5{
    width: 13.4375rem;
    height: 4.3125rem;
    margin-top: -2rem;
}
#blog-introduction-6{
    width: 14.4375rem;
    height: 6.4375rem;
    margin-top: -2rem;
}
#blog-introduction-7{
    width: 18.5rem;
    height: 5.875rem;
    margin-top: -2rem;
}
#carouselContainer {
    display: flex;
    margin: 1rem auto;
    overflow: hidden;
    width: 75%;
    height: 25rem;
    box-shadow: -9px 17px 10px 0px rgba(108,43,62,0.80);
    border: solid black ;
    border-radius: 2rem;
}

.carousel-slider {
    flex: 1 0 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease;
    will-change: transform;
    text-align: center;
}

.carousel-slider.active {
    display: block;
}

.carousel-slider img {
    width: 100%;
    height: 20rem;
    border: none;
    border-radius: 0.4rem;
}

.all-posts-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 11.75rem;
    height: 5.625rem;
    margin: auto;
    border: none;
    border-radius: 13rem;
    background-color: #A93B5B;
    color: white;
    font-family: 'Spectral';
    font-weight: 600;
    letter-spacing: 7%;
    margin-top: -2rem;
}

.all-posts-button:hover {
    background-color: #6C2B3E;
    cursor: pointer;
}

.index-blog-img{
    width: 12.938rem;
    height: 11.5rem;
    border: solid 3px black;
    border-radius: 100%;
}
.special-size-img{
    width: 21.063rem;
     border: solid 3px black;
    border-radius: 100%;
}
.left-hand-container{
    display: flex;
    flex-direction: column;
    margin-top: -35rem;
    margin-left: 4rem;
}
.right-hand-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: -40rem;
    margin-right: 4rem;
}
.img-groupe-5{
    display: flex;
    flex-direction: row-reverse;
}

.img-groupe-4,.img-groupe-6{
    display: flex;
    flex-direction: row-reverse;
}w


@media (max-width: 769px) {
    .image-box-container{
        display: none;
    }
    .all-posts-button {
    width: 8.313rem;
    height: 3.313em;
    margin: auto;
    margin-top: 0;
}
}