body{
    font-family: 'Playfair Display';
    height: auto;
}
.header-container{
    width: 100%;
    height: auto;
    background-color: #6C2B3E;

}
.nav-bar-container{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 1rem;
}
.main-logo{
    width: 7.8125rem;
    height: 6.1875rem;
}
.toggle-menu-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: white;
    border: none;
}
.toggle-menu-button-icon{
    width: 2rem;
    height: 2rem;
}
.sub-header-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
.sub-header-video{
    width: 27.4375rem;
    height: 10.375rem;
}
.toggle-menu-clicked{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    padding: 0;
}
.toggle-menu-links{
    text-decoration: none;
    color: white;
}
li{
    list-style: none;
}
.footer-img{
    padding: 0;
    width: 28rem;
    height: 9rem;
    object-fit: fill;
}