body {
    font-family: 'Playfair Display';
}

.page-title {
    text-align: center;
    color: #6C2B3E;
    font-family: 'Spectral';
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 5%;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.register-logo {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 20.875rem;
    margin-bottom: 1rem;

}

.registeration-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    text-align: center;
    border: black solid 4px;
    background-color: #DBC4B6;
    padding: 1rem;
    box-shadow: -9px 17px 100px rgba(108, 43, 62, 0.84);
    width: 50rem;
}

.register-form {
    display: flex;
    flex-direction: column;
}

.flex-col {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
input{
    font-size: 1.5rem;
}
.register-inputfield {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    border-radius: 0.4rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
}

.register-inputfield::placeholder {
    color: black;
    border: #6C2B3E;
}

.submit-registeration-button {
    width: 9.375rem;
    height: 3.125rem;
    margin: auto;
    border: none;
    border-radius: 1rem;
    background-color: #A93B5B;
    color: white;
    font-family: 'Spectral';
    font-weight: 600;
    letter-spacing: 5%;
}
.submit-registeration-button:hover{
 background-color: #6C2B3E;
 cursor: pointer;
}
@media (max-width:1440px) and (min-width:1024px) {
.page-title {
    font-size: 1.75rem;
}
.register-logo {
    width: 15rem;
}
.registeration-form-container {
    padding: 1rem;
    width: 30rem;
}
}
@media (max-width:1024px) and (min-width:768px) {
.page-title {
    font-size: 1.5rem;
}
.register-logo {
    width: 15rem;
}
.registeration-form-container {
    padding: 1rem;
    width: 23rem;
}
input{
    font-size: 1.25rem;
}
}
@media (max-width:768px) and (min-width:430px) {
.page-title {
    font-size: 1.25rem;
}
.register-logo {
    width: 12.5rem;
}
.registeration-form-container {
    width: 19rem;
}
}
@media (max-width:430px) and (min-width:350px) {
.page-title {
    font-size: 1rem;
}
.register-logo {
    width: 10rem;
}
.registeration-form-container {
    padding: 1rem;
    width: 16.5rem;
}
input{
    font-size: 1rem;
}
}